* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.logo {
  font-size: 30px;
}
.logo::after {
  content: ".";
}
.menu {
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .menu-line {
  width: 50px;
  height: 5px;
  background-color: #333;
}

.container {
  display: flex;
  height: 100vh;
}
.text-info {
  flex: 1;
  display: flex;
  align-items: center;
}
.info {
  padding: 0px 20px;
  background-color: #fff;
}
.info .profission {
  font-size: 20px;
  text-transform: uppercase;
}
@keyframes animation-bar {
  0% {
    width: 0%;
    background-color: orange;
  }
  100% {
    width: 50%;
    background-color: orangered;
  }
}

.profission-bar {
  width: 50%;
  height: 3px;
  background-color: tomato;
  animation-name: animation-bar;
  animation-duration: 1s;
  transition: all 1s linear;
}

.info .name {
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.info .buttons a {
  display: inline-block;
  padding: 20px 40px;
  background-color: #333;
  color: #ffff;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.info .buttons a:hover {
  opacity: 0.8;
  cursor: pointer;
}
.img-info {
  flex: 1;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 30px;
}
footer p {
  font-weight: normal;
  font-size: 15px;
  color: #000;
  margin-bottom: 5px;
}
footer q {
  text-align: center;
  font-size: 12px;
  color: #333;
}

/* Responsive */
@media (max-width: 800px) {
  .info .buttons a {
    display: block;
  }
  .info .buttons a:last-child {
    margin-top: 10px;
  }
  .text-info .profission {
    font-size: 20px;
  }
  .info {
    padding: 30px;
  }
  .text-info .name {
    font-size: 55px;
  }
}

.modal-container {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;
  background-color: #33333376;
}
.modal-area {
  width: 600px;
  height: 600px;
  background-color: #333;
}
.modal-area ul {
  display: flex;
  flex-direction: column;
}
.modal-area li,
.modal-area a {
  list-style: none;
  text-decoration: none;
}

@keyframes animation-a {
  0% {
    border-bottom: 2px solid #333;
  }
  100% {
    border-bottom: 2px solid #000;
  }
}
.modal-area a:first-child {
  display: flex;
  padding: 10px 30px;
  margin-bottom: 10px;
  color: #fff;
  border-bottom: 2px solid #000;
  /* background-color: rgb(253, 165, 3); */
  animation-name: animation-a;
  animation-duration: 5s;
}
.modal-area .first {
  animation-name: animation-a;
  animation-duration: 5s;
  transition: all 1s ease-out;
}
.modal-area label {
  display: flex;
  font-size: 20px;
  color: #fff;
  padding: 10px 0px;
}
.form-contact {
  flex: 1;
  padding: 10px;
  margin-top: 10px;
}
.form-contact h1 {
  font-size: 20px;
  text-align: center;
}

.btn {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  /* background-color: red; */
}
.btn a {
  display: inline-block;
  background-color: rgb(235, 154, 4);
  border-radius: 10px;
  border-bottom: 0;
}
.btn a:hover {
  opacity: 0.8;
}
fieldset {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
legend {
  font-size: 20px;
  padding: 0px 5px;
  color: #fff;
  text-align: center;
}
.form-contact input {
  width: 100%;
  padding: 10px;
}
.closeModal {
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
}
.caracter-Close {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: rgb(120, 119, 119);
  cursor: pointer;
  margin-top: -20px;
  border-radius: 15px;
}
@media (max-width: 450px) {
  .container {
    flex-direction: column;
    /* height: calc(100vh - 70px); */
  }
  header {
    position: initial;
    background-color: #333;
    color: #fff;
  }
  .menu .menu-line {
    background-color: #fff;
  }
  .info {
    margin: auto;
  }
  footer {
    padding: 10px;
    position: initial;
    background-color: #333;
  }
  .copy {
    display: flex;
    flex-direction: column;

    text-align: center;
  }
  .copy p {
    color: #fff;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .copy q {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
  }
  .modal-area {
    width: 350px;
    height: 450px;
  }
}
